    <div class="container m-auto">
        <div class="row bg-dark text-light m-2 p-2">
            <div class="col-5 m-0 p-2">
                <h4>Encontre suas viagens</h4>
                </div>
                <div class="col-6 m-1 p-2">
                <ul>
                 <li>Contato</li>
                <li>Valores</li>
                <li>Destino</li>
             </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 m-2 p-2 text-center">
                <h2>As Melhores Viagens</h2>
                <P>Os Melhores preços e pacotes que você não pode deixar de vim conhecer!</P> 
                <p>Esperamos você para realizar seu desejo de se aventurar em um novo lugar!</p> 
            </div>
            <div class="col-12 m-2 p-2 text-center">
                <h2> Simular suas Passagens</h2>
                
                <form action="/pagina-processa-dados-do-form" method="post">
                    <div>
                        <label for="Origem">Origem:</label> <br>
                        <input type="text" id="Origem" /> <br>
                    </div>
                    <div>
                        <label for="Destino">Destino:</label> <br>
                        <input type="Destino" id="Destino" /> <br>
                    </div>
                    <div> 
                        <label for="Data de Partida">Data de Partida:</label> <br>
                        <input type= "Data de Partida" id="Data de Partida" /> <br>
                    </div>
                    <div>
                        <label for="Data de Volta">Data de Partida:</label> <br>
                        <input type= "Data de volta " id="Data Volta" /> <br>
                        

                        <div class="button"> <br>
                            <button type="submit">Consultar</button><br>
                        </div>
                    

                    </div>
                </form>

            </div>
        </div>
    </div>

